body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#navigation {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  position: fixed; /* Stick the navigation to the top */
  top: 0; /* Place it at the top of the viewport */
  left: 0;
  right: 0;
  z-index: 2; /* Ensure it's above other content */
}
.title {
  border-bottom: 2px solid #f8f3f3; /* Adds a 2px solid black line below the title */
  padding-bottom: 50px; /* Adjust the space between the title and the line as needed */
}


/* Container styles */
.container {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 50px; /* Add space below the fixed navigation */
  margin-bottom: 200px;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}


/* Footer styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed; /* Stick the footer to the bottom */
  bottom: 0; /* Place it at the bottom of the viewport */
  left: 0;
  right: 0;
  color: white;
  z-index: 2; /* Ensure it's above other content */
}


#distance-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
  background-color: #f0f0f0;
  margin: auto; /* Center horizontally */
  margin-top: 10%; /* Adjust top margin for vertical centering */
  border-radius: 10px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
}

/* Style for individual footer elements */
.footer {
  text-align: center;
  padding: 10px;
  color: #fff;
}


.form-box {
  border: 1px solid #020202;
  padding: 20px;
  margin-top: 20px;
}

#navigation a {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #030303;
  border-radius: 5px;
}

#navigation a:hover {
  background-color: #090707;
}

.hover-animation {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.hover-animation::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-animation:hover::after {
  transform: scaleX(1);
}


.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 200px;
  margin: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}
h1 {
  color: #9e9e9e;
  text-align: center;
}

h2 {
  color: #969696;
  font-size: 24px;
}


ul {
  color: #969696;
  font-size: 24px;
}

p {
  color: #a09f9f;
  line-height: 1.5;
  margin: 10px 0;
}


/* Add this CSS to style the right section */
.right-section {
  float: right;
  width: 30%; /* Adjust the width as needed */
  margin: 20px;
}

.boxes {
  margin-bottom: 20px;
}

.boxes .box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.selector {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Clear the float to prevent layout issues */
.clear {
  clear: both;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.image-box {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 10px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
}

#output {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: left;
}

input[type="text"], input[type="number"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  size: "5";
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

label {
  font-size: 22px;
}

button:hover {
  background-color: #0056b3;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
  background-color: #fff;
  border-radius: 34px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 58px;
  left: 4px;
  bottom: 4px;
  background-color: #007bff;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(58px);
  background-color: #ccc;
}

.label {
  position: absolute;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
}

.label.local {
  right: 5%;
}

.label.fb {
  left: 5%;
}

input:checked + .slider .local {
  color: black;
}

input:checked + .slider .fb {
  color: white;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.input-group label {
  flex-shrink: 0;
}

.input-group input[type="number"] {
  margin-right: 10px;
}



.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust the height to center vertically on the page */
}

.flip-card {
  width: 300px;
  height: 300px;
  margin: 30px; /* Add margin to separate the cards */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
input[type="text"],
input[type="password"] {
  width: 20%; /* Set a fixed width for both input fields */
}

#distance-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #333; /* Update with your desired color */
  background-color: #f0f0f0; /* Update with your desired color */
  margin: 10px;
  border-radius: 10px;
}
